// Specific CSS for your home-page
.navbar {
  background-color: #0d284c;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: white;
}

 .nav-link.active {
    color: #0d284c !important;
    background-color: white !important;
  }
