<!-- NAVBAR -->
 <div class="navbar">
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home" data-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="false">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="whoweare" data-toggle="pill" href="#whoweare" role="tab" aria-controls="whoweare" aria-selected="false">Who We Are</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sharedvision" data-toggle="pill" href="#sharedvision" role="tab" aria-controls="sharedvision" aria-selected="false">A Shared Vision</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"id="drivingchange" data-toggle="pill" href="#drivingchange" role="tab" aria-controls="drivingchange" aria-selected="false">Driving Change</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"id="energyhub" data-toggle="pill" href="#energyhub" role="tab" aria-controls="energyhub" aria-selected="false">Energy Hub</a>
    </li>
  </ul>
</div>
