 <!-- NAVBAR -->
 <div class="navbar">
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#whoweare">Who We Are</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#sharedvision">A Shared Vision</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#drivingchange">Driving Change</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#energyhub">Energy Hub</a>
    </li>
  </ul>
</div>

<!-- WHO WE ARE -->
<!--Empty Div For Layout Purposes -->
<div class="height100">
</div>

  <!-- Who We Are: Picture Page -->
<div class="intro banner">
  <div class="banner-content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome to <br> <span class="title">Skuunaq Energy</span></h1>
    <h3>Paving the way to a Hydrogen Economy</h3>
    <br>
     <a href="#whoweare" class="btn btn-primary">Learn More</a>
   </div>
</div>

<!-- Changeable Footer - Homepage -->
<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>A safe, economic and sustainable energy future</p>
</div>

<!-- Who We Are: Info Page -->
<div class="height100" id="whoweare">
</div>

<div class="content-height whoweare-banner">
  <div class="whoweare-content">
    <p class="radical-vision">Skuunaq Energy has a radical vision, with hydrogen at its core.</p>
    <p>Based in Northern Ireland, we strongly believe our project will act as the catalyst to decarbonise the energy industry. In doing so, we seek to pave the way towards a reliable, robust and secure-energy future.</p>
    <p>This large-scale project will inspire and enable other businesses and projects to embrace their hydrogen-powered future, bring high-skilled jobs while placing NI at the leading-edge of the Global Hydrogen Revolution.</p>
  </div>
</div>

<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>A safe, economic and sustainable energy future</p>
</div>

<!-- A SHARED VISION -->
<!--A Shared Vision: Picture Page -->

<div class="height100" id="sharedvision">
</div>

<div class="content-height">
  <h1>A Vision for Carbon Neutrality in our Energy Sector</h1>
</div>

<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>Thinking Globally, Acting Locally</p>
</div>

<!--A Shared Vision: Info Page -->
<div class="height100">
</div>

<div class="content-height">
  <h1>A Shared Vision</h1>
  <p>Skuunaq Energy has brought together a number of Global partners who have a shared vision and a proven track record in the renewable energy field.</p>
  <p>By partnering with a number of local businesses to form Skuunaq Energy, we continually demonstrate our commitment to Northern Ireland. Together, we are heavily invested in delivering a cleaner, more efficient, sustainable-energy future both locally and beyond.</p>
</div>

<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>Thinking Globally, Acting Locally</p>
</div>

<!-- DRIVING CHANGE -->
<!--Driving Change: Picture Page -->
<div class="height100" id="drivingchange">
</div>

<div class="content-height">
  <h1>"Climate is the main driver for hydrogen in the energy transition" - IRENA, 2019</h1>
</div>

<!--Driving Change: Info Page -->
<div>
  <h1>Driving Change</h1>
  <p></p>
</div>

<!--Energy Hub: Picture Page -->
<div id="energyhub">
  <h1>Bringing technical innovation to create lasting change</h1>
</div>

<!--Energy Hub: Info Page -->

<!-- CONTACT -->



