 <!-- NAVBAR -->
 <div class="navbar">
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home" data-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="false">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="whoweare" data-toggle="pill" href="#whoweare" role="tab" aria-controls="whoweare" aria-selected="false">Who We Are</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sharedvision" data-toggle="pill" href="#sharedvision" role="tab" aria-controls="sharedvision" aria-selected="false">A Shared Vision</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"id="drivingchange" data-toggle="pill" href="#drivingchange" role="tab" aria-controls="drivingchange" aria-selected="false">Driving Change</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"id="energyhub" data-toggle="pill" href="#energyhub" role="tab" aria-controls="energyhub" aria-selected="false">Energy Hub</a>
    </li>
  </ul>
</div>

  <!-- Main Body -->
<div class="intro banner">
  <div class="banner-content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome to <br> <span class="title">Skuunaq Energy</span></h1>
    <h3>Paving the way to a Hydrogen Economy</h3>
    <br>
     <a href="#whoweare" class="btn btn-primary">Learn More</a>
   </div>
</div>

<!-- Changeable Footer -->
<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>A safe, economic and sustainable energy future</p>
</div>

<!-- Who We Are -->
<div id="whoweare">
  <h1>Who We Are</h1>
  <p>Skuunaq Energy has a radical vision, with hydrogen at its core.</p>
  <p>Based in Northern Ireland, we strongly believe our project will act as the catalyst to decarbonise the energy industry. In doing so, we seek to pave the way towards a reliable, robust and secure-energy future.</p>
  <p>This large-scale project will inspire and enable other businesses and projects to embrace their hydrogen-powered future, bring high-skilled jobs while placing NI at the leading-edge of the Global Hydrogen Revolution.</p>
</div>


