<!-- Main Body -->
<div class="intro banner">
  <h1>Welcome to <br> <span class="title">Skuunaq Energy</span></h1>
  <h3>Paving the way to a Hydrogen Economy</h3>
   <a href="#pills-whoweare" class="btn btn-primary">Learn More</a>
</div>

<!-- Changeable Footer -->
<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>A safe, economic and sustainable energy future</p>
</div>
