<div id="whoweare">
  <h1>Who We Are</h1>
  <p>Skuunaq Energy has a radical vision, with hydrogen at its core.</p>
  <p>Based in Northern Ireland, we strongly believe our project will act as the catalyst to decarbonise the energy industry. In doing so, we seek to pave the way towards a reliable, robust and secure-energy future.</p>
  <p>This large-scale project will inspire and enable other businesses and projects to embrace their hydrogen-powered future, bring high-skilled jobs while placing NI at the leading-edge of the Global Hydrogen Revolution.</p>
</div>
