.banner {
  background-image: url("https://res.cloudinary.com/dzjxqunz7/image/upload/v1599674331/harlandandwolff_arg1te.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  // padding-top: 128px;
}

.banner h1 {
  font-family: 'Work Sans', helvetica;
  color: white;
  font-size: 64px;
  margin-left: 32px;

  @media (max-width: 540px) {
    margin-left: 0px;
    padding-top: 104px;
  }
}

.banner h3 {
  font-size: 20px;
  margin-left: 32px;

  @media (max-width: 540px) {
    margin-left: 0px;
    font-size: 14px;
    padding-top: 125px;
  }
}

// 'Learn More' Button
.banner a {
  margin-left: 32px;

  @media (max-width: 540px) {
    margin-left: 0px;
  }
}

// Welcome To

.welcome-to {
  @media (max-width: 1316px) {
    font-size: 52px;
  }
  @media (max-width: 540px) {
    font-size: 36px;

  }
}
// Skuunaq Energy
.title {
    font-size: 72px;
    text-shadow: 2px 2px #0d284c;

    @media (max-width: 1495px) {
      font-size: 64px;
    }

     @media (max-width: 1316px) {
      font-size: 56px;
    }

    @media (max-width: 540px) {
    font-size: 42px;
  }
}

// Opacity round contents
.banner-content {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  height: 80vh;
  width: 40vw;
  display: inline-block;
  position: absolute;
  left: 0;

  @media (max-width: 540px) {
    width: 100vw;
    text-align: center !important;
  }
}

.btn-primary {
  border-radius: 5px;
}

