.banner {
  background-image: url("harlandandwolff.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-left: 32px;
  padding-top: 128px;
}

.banner h1 {
  font-family: 'helvetica', serif;
  color: white;
  font-size: 64px;
}

.banner h3 {
  font-size: 24px;
}

.title {
    font-size: 72px;
  }
