.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #0d284c;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color: white;

  &:hover {
    font-size: 17px;
    color: white;
  }
}

 .nav-link.active {
    color: #0d284c !important;
    background-color: white !important;
  }

.height100 {
  height: 100px;
}

.navbar-logo {
  height: 60px;
  width: 60px;
  position: fixed;
  left: 0;
  top: 20px;
  margin-left: 20px;
}

